---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/search.js"></script>
<div class="container">
    <h2>Lorem dignissimos et nam ratione debitis animi Incidunt amet
        asperiores accusamus fuga enim. Illum voluptatem impedit nihil
        quibusdam fugit accusantium doloribus sed Iusto veritatis
        consequatur nesciunt libero nobis Suscipit tempora!</h2>
    <p>
       <form id="search" action="#" method="post">
            <input type="text" name="tagname" id="tagname" placeholder="search tag" class="input_text" />
            &nbsp&nbsp&nbsp
            <input type="button" value="New" style="width: 80px;" onClick="window.open('{{ site.github.repository_url }}/new/master/_posts')">
       </form>
        </p>

        <div class="message">
            <h3>No results!</h3>
        </div>

        {% for tag in site.tags %}
            <div class="posts" data-name="{{tag[0]}}">
            <h2 class="tag-title">{{tag[0] | capitalize}}</h2>
            {% for post in tag[1] %}
                <li><a class="post-link2" href="{{post.url}}">{{post.title}}</a></li>
            {% endfor %}
            </div>
        {% endfor %}

      </div>

