---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
      <p>&nbsp
      <input class="post-buttons" type="button" value="Edit" onClick="window.open('{{ site.github.repository_url }}/edit/master/{{ page.relative_path }}')">
      <span class="post-tags">{{page.tags | join : ', '}}</span> 
      </p>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
